body{
    padding: 0;
    margin: 0;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
/*
**         header
*/
header{
    background-color: #A62934;
    width: 100%;
}

.logo{
    width: 175px;
    margin-left: 10%;
}
/*
**         menu lateral
*/
.ico1{
       width: 68px;
       height: 68px;
}
.ico2{
    width: 68px;
    height: 64px;
}
.ico3{
    width: 68px;
    height: 68px;
}
.ico4{
    width: 68px;
    height: 68px;
}
/*
**         Ccontenaire central
*/

.recherche input{
    width: 160px;
    height: 34px;
}
.filtre{
    width: 100%;
}
.result{
    width: 100%;
}
.info_general{
    padding-top: 3em;
}
p{
    padding: 0;
    margin: 0;
}
.abo{
    padding-top: 4em;
}

table, th, td {
    border: 1px solid black;
  }

.historique{
    display: block;
}